/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2016, 4:15:19 PM
    Author     : Wuthisak.M
*/

.pop-head{

    color: white;
    background-color: #23527c;
    text-align: center;
    font-size:large;
}
.pop-body{
    font-size:medium;
}

.btn-submit{
    width: 100%;
    background-color: #23527c;
    color: white;
}
.inp-control{
    width: 100%;
    margin-bottom: 20px;
}
.tlb-control{
    width: 80%; 
    margin-left: 10%;
}
