/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.    width: 80%; 
    margin-left: 10%;
*/
/* 
    Created on : May 20, 2016, 2:10:18 PM
    Author     : ADMIN
*/

#project-btn-control{
    text-align:right;
}
table{
    width: 80%; 
    margin-left: 10%;
}
tr{
  width: 100%;  
}
input[type=number],[type=text],select{
    width: 100%;
}
input,select{
    margin-bottom: 20px;
}
